header {
    background-color: darkmagenta;
    color: rgb(245, 166, 247);
    text-align: center;
}

main {
    background-color: rgb(165, 165, 165);
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0px;
  }

  .gill-sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }